:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
  --dark-color: hsl(var(--hue), 100%, 9%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 5rem;
  max-width: 1920px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-color);
  background: var(--bg-gradient);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.overlay {
  width: 100%;
  max-width: 80vw;
  max-height: fit-content;  
  padding: 8rem 6rem;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}


.overlay__inner {
  max-width: 36rem;
}

.overlay__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  font-size: 1.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}

.overlay__description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

.text-gradient {
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

input{
  padding: 1rem 5rem;
  background-color: rgba(0,0,0,0.3);
  color:rgba(255,255,255,0.6);
  border:none;
  border-radius:8px;
  padding-left:2rem;
}

input:focus{
  background-color: rgba(0,0,0,0.6);
  border-color:rgba(0,0,0,0.8);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2rem;
  font-size: 0.4em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
  cursor: pointer;
  transition: all 0.5s ease-in;
}
button:hover{
  scale: 1.3;
 
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

.card{
  background-color: #213547;
  width: 80vw;
  height: 30rem;
  display: inline-flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-contrast: high) {
  .orb-canvas {
    display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 2rem;
  }

  .overlay {
    padding: 4rem;
    height: auto;
  }

  .overlay__title {
    font-size: 1.25rem;
    width:min-content;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
  button{
    padding: 0.2em 1rem;
    font-size: 0.4em;
    font-weight: 400;
  }
  .image{
    width: 95%;
    height: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 2rem 4rem;
  }

  .overlay__btns {
    flex-wrap: wrap;
  }

  .overlay__btn {
    width: 100%;
    font-size: 0.75rem;
    margin-right: 0;
  }

  .overlay__btn:first-child {
    margin-bottom: 1rem;
  }
  button{
    padding: 0.4em 2em;
    font-size: 0.6em;
    font-weight: 400;
  }
}
